@import "variable";

.product-card {
  width: 100%;
  border: none;
  padding: 1rem 0;
  cursor: pointer;
}
.product-img {
  cursor: pointer;
}
.div {
  overflow: hidden;
}
.sold {
  background-color: $black-color;
  padding: 0.5rem;
  color: $white-color;
  position: absolute;
  top: 16px;
  left: 0;
}
.product-btn {
  display: none;
  width: 60%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30%;
  border: none;
  color: $white-color;
  background-color: $black-color;
  border-radius: unset;
}
.card-title,
.card-text {
  text-align: center;
}

.product-card:hover {
  .product-btn {
    display: flex;
    justify-content: center;
    animation: slide 0.5s forwards;
    opacity: 0;
    transform: translateY(100px) translateX(35%);
    outline: unset;
  }
  .product-btn:focus,
  .product-btn:active {
    background-color: $primary-color;
    border: none;
    color: $black-color;
    border-radius: unset;
    transition: 0.5s;
    outline: unset !important;
  }
}
.product-btn:hover {
  background-color: $primary-color;
  border: none;
  color: $black-color;
  border-radius: unset;
  transition: 0.5s;
}

@keyframes slide {
  100% {
    transform: translateY(0) translateX(35%);
    opacity: 1;
  }
}
