.main-card {
  width: 100%;
  border: none;
}
.product-img {
  cursor: pointer;
}
.product-btn {
  position: absolute;
  left: 38%;
  top: 70%;
}
.card-title,
.card-text {
  text-align: center;
}

.main-card {
  padding: 1rem;
  text-transform: uppercase;

  &:hover {
    color: red;
    background-color: transparent;
  }
}
