<div class="footer-wrapper">

    <div class="footer-column">
        <h3>Customer Care</h3>
        <div class="footer-link">Hov to buy</div>
        <div class="footer-link">Payments</div>
        <div class="footer-link">Shipping</div>
        <div class="footer-link">Retruns & Refunds</div>
        <div class="footer-link">Return Center</div>
        <div class="footer-link">Size guide</div>
        <div class="footer-link">Contact us</div>
    </div>
    <div class="footer-column">
        <h3>Legal area</h3>
        <div class="footer-link">Cookie policy</div>
        <div class="footer-link">Privacy policy</div>
        <div class="footer-link">Terms of scale</div>
    </div>
    <div class="footer-column">
        <h3>Links</h3>
        <div class="footer-link">About</div>
        <div class="footer-link">Collections</div>
        <div class="footer-link">Products</div>
        <div class="footer-link">LookBook</div>
    </div>
    <div class="footer-column">
        <h3>Follow us on social media</h3>
        <div class="footer-link">facebook icon</div>
        <div class="footer-link">instagram icon</div>
    </div>

</div>

<p>footer works!</p>
<p>{{ "common.test" | translate: { name: "Hello" } }}</p>

<button (click)="changeLang('en')">EN</button>
<button (click)="changeLang('sr')">SR</button>
