<nav class="navbar navbar-expand-lg navbar-light nav-pading">
  <a class="navbar-brand" href="#">
    <img src="./../../../assets/pictures/logo.jpeg" style="width: 5rem;" alt="">
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end mr-5" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <div class="btn-group" dropdown>
        <div (mouseover)="open=true" (mouseout)="open=false">
          <span *ngIf="!open">Hide</span>
          <span *ngIf="open">Show</span>
        </div>
        <button id="button-basic" dropdownToggle type="button" class="btn dropdown-toggle header-nav-btn"
                aria-controls="dropdown-basic">
                <span class="text">
                  {{ history }}
                </span>
          <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu nav-menu"
            role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item" href="#">Loo</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Lara</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Unja</a></li>
        </ul>
      </div>
      <div class="btn-group" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn dropdown-toggle header-nav-btn"
                aria-controls="dropdown-basic">
                <span class="text">
                  {{ collections }}
                </span>
          <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu nav-menu"
            role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item" href="#">#2020 ime</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">#2021 ime</a></li>
        </ul>
      </div>
      <div class="btn-group" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn dropdown-toggle header-nav-btn"
                aria-controls="dropdown-basic">
                <span class="text">
                  {{ products }}
                </span>
          <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu nav-menu"
            role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item" href="#">Swimwear</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Wear</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Accessories</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Bags</a></li>
        </ul>
      </div>
      <div class="btn-group" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn dropdown-toggle header-nav-btn"
                aria-controls="dropdown-basic">
                <span class="text">
                  {{ media }}
                </span>
          <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu nav-menu"
            role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item" href="#">Instagram</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Facebook</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Mail</a></li>
          <li class="divider dropdown-divider"></li>
        </ul>
      </div>
      <div class="btn-group" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn dropdown-toggle header-nav-btn"
                aria-controls="dropdown-basic">
                <span class="text">
                  {{ contact }}
                </span>
          <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu nav-menu"
            role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item" href="#">Instagram</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Facebook</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Mail</a></li>
          <li class="divider dropdown-divider"></li>
        </ul>
      </div>
    </ul>
  </div>
</nav>
