<div
  class="
    navbar-wrapper
    d-flex
    align-items-center
    justify-content-between
    w-100
    z-index-3
  "
  [ngClass]="{ transparent: isTransparent }"
>
  <nav class="navbar navbar-expand-md navbar-light nav-pading w-100">
    <button
      class="navbar-toggler border-0"
      type="button"
      data-toggle="collapse"
      (click)="toggleNavbar()"
    >
      <div class="icon large nav-toggle"></div>
    </button>

    <div>
      <a
        class="navbar-brand p-0 m-0 d-flex align-items-center"
        [routerLink]="['/']"
      >
        <img class="d-none d-md-block" src="/assets/media/logo.jpeg" />
        <div class="title m-2 {{ show ? 'd-none d-md-block' : 'd-block' }}">
          {{ title }}
        </div>
      </a>
    </div>

    <div
      class="collapse navbar-collapse justify-content-end
      {{ show ? 'show' : '' }}"
    >
      <div
        class="dropdown d-none d-md-block"
        appHover="show"
        [effectOnSelf]="false"
        affectElement=".dropdown-menu"
        *ngFor="let nav of navigation"
      >
        <a class="dropdown-toggle" [routerLink]="[nav.url || '/']">
          {{ nav.name }}
        </a>
        <ul class="dropdown-menu" *ngIf="nav.links">
          <li *ngFor="let item of nav.links">
            <a
              class="dropdown-item"
              [routerLink]="[item.url || nav.url || '/']"
            >
              {{ item.name }}
            </a>
          </li>
        </ul>
      </div>
      <!-- MOBILE -->
      <div class="backdrop" (click)="toggleNavbar()" *ngIf="show"></div>
      <ul class="navbar-nav d-block d-md-none">
        <button type="button" (click)="toggleNavbar()">X</button>
        <!-- TODO: Add Accordions -->
        <accordion>
          <accordion-group
            class=""
            [isDisabled]="!nav.links"
            *ngFor="let nav of navigation"
          >
            <div
              class="row justify-content-between align-items-center"
              accordion-heading
            >
              <div
                class="col py-2 mr-3"
                [routerLink]="[nav.url || '/']"
                (click)="disableClick($event)"
                (click)="toggleNavbar()"
              >
                {{ nav.name }}
              </div>
              <div class="icon medium arrow mx-2" *ngIf="nav.links"></div>
            </div>
            <a
              class="nav-link"
              [routerLink]="[item.url || '/']"
              (click)="toggleNavbar()"
              *ngFor="let item of nav.links"
            >
              {{ item.name }}
            </a>
          </accordion-group>
        </accordion>
      </ul>
    </div>
  </nav>
</div>
