@import "variable";

.navbar-wrapper {
  height: $navbar-height;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $white-color;
  z-index: $z-index-3;
  .navbar {
    padding: 0;
  }

  .navbar-brand {
    img {
      width: 60px;
      height: 60px;
    }
    .title {
      color: $black-color;
      font-size: 2rem;
    }
  }

  .dropdown-toggle {
    background-color: transparent;

    padding: 1rem;
    text-transform: uppercase;
    border: none;
    text-decoration: none;
    font-size: $medium-font-size;

    &::after {
      // Remove dropdown arrow
      display: none;
    }
    &:hover {
      color: $primary-color;
    }
  }

  .dropdown-menu {
    list-style-type: none;
    background-color: transparent;
    cursor: pointer;
    background-color: $white-color;
    border: none;
    border-radius: 0;
    padding: 0;
  }
  .dropdown-item {
    padding: 1rem;
    text-transform: uppercase;
    font-size: $medium-font-size;

    &:hover {
      color: $primary-color;
      background-color: transparent;
    }
  }

  // Mobile:
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba($color: $black-color, $alpha: 0.5);
    width: 100%;
    height: 100%;
  }
  .navbar-nav {
    background-color: $white-color;
    position: fixed;
    top: 0;
    left: -80vw;
    width: 80vw;
    height: 100vh;
    z-index: $z-index-3;
    animation: slide 0.5s forwards;
  }

  @keyframes slide {
    100% {
      left: 0;
    }
  }

  // Transparent navbar style
  &.transparent:not(:hover) {
    background: transparent;
    background: $navbar-gradient;
    // box-shadow: 1rem 1rem 5rem black;

    .dropdown-toggle {
      color: $white-color;
    }

    .navbar-brand .title {
      color: $white-color;
    }
  }

  @media (min-width: $md) {
  }
}
