<div class="page">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="main-box">
          <img src="{{ collectionImg }}" alt="" class="collection-loo" />
          <label class="header">#{{ collectionLoo2020 }}</label>
        </div>
      </div>
      <div class="col">
        <div class="main-box">
          <img src="{{ collectionImg }}" alt="" class="collection-loo" />
          <label class="header">#{{ collectionLoo2021 }}</label>
        </div>
      </div>
    </div>
  </div>
</div>
