<div class="page">
  <div class="container">
    <div class="row">
      <div class="col">
        <img src="{{ slika }}" alt="" style="width: 100%" />
      </div>
      <div class="col details-box">
        <div class="details-style">
          <h4>Name</h4>
          <label class="d-flex"><span>$</span>45</label>
          <label>Sizes:</label>
          <div class="row ml-0">
            <div type="button" class="col size-box">XS</div>
            <div type="button" class="col size-box">S</div>
            <div type="button" class="col size-box">M</div>
            <div type="button" class="col size-box">L</div>
          </div>
        </div>
        <div class="material">
          <h4>Material</h4>
          <p>Ovaj kupaci je napravljen od prirodnog materijala</p>
        </div>
      </div>
    </div>
  </div>
</div>
