@import "variable";

.myClass {
  width: 100%;
  border: none;
}
.product-img {
  cursor: pointer;
}
.product-img:hover {
  opacity: 0.8;
}
.product-btn {
  display: none;
  width: 60%;
  position: absolute;
  transform: translate(35%);
  bottom: 30%;
  border: none;
  color: $white-color;
  background-color: $black-color;
  border-radius: unset;
}

.card-body {
  display: none;
}
.card-title,
.card-text {
  text-align: center;
}

.myClass:hover {
  .product-btn {
    display: flex;
    justify-content: center;
  }
  .details {
    display: block;
    position: absolute;
    transform: translate(20px, 60px);
    color: $white-color;
  }
  .product-img {
    opacity: 0.8;
  }
}
.product-btn:hover {
  background-color: $primary-color;
  border: none;
  color: $black-color;
  border-radius: unset;
  transition: 0.5s;
}

.details {
  display: none;
}
