<div class="homepage-wrapper">
  <!-- Slideshow -->
  <div class="slideshow-container slider-image{{ sliderImage }}">
    <div class="slideshow-select">
      <div class="d-flex" *ngFor="let item of [1, 2, 3, 4]">
        <div
          class="circle-icon-white icon medium mx-1 mb-2"
          [ngClass]="{ 'slideshow-selected': sliderImage === item }"
          (click)="selectSlideshowImage(item)"
        ></div>
      </div>
    </div>
  </div>

  <div class="homepage-content">
    <div class="container">
      <div class="row">
        <app-product-card
          class="col-12 col-sm-6 col-md-4 col-lg"
        ></app-product-card>
        <app-product-card
          class="col-12 col-sm-6 col-md-4 col-lg"
        ></app-product-card>
        <app-product-card
          class="col-12 col-sm-6 col-md-4 col-lg"
        ></app-product-card>
        <app-product-card
          class="col-12 col-sm-6 col-md-4 col-lg"
        ></app-product-card>
      </div>
      <div class="container">
        <div class="row">
          <app-category-card></app-category-card>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <app-items-card
          class="col-12 col-sm-6 col-md-4 col-lg"
        ></app-items-card>
      </div>
    </div>
  </div>

  <!-- <app-items-card></app-items-card> -->
</div>
