<div class="container">
  <div class="row">
    <div class="col">
      <div class="card myClass" (mouseover)="addClass($event)" (mouseleave)="removeClass($event)">
        <img src="{{ swimwearImg }}" class="card-img-top product-img" alt="..." (click)="show = !show">
          <button class="btn btn-primary product-btn" *ngIf="!show">click me</button>
        <div class="card-body">
          <h5 class="card-title">Ime</h5>
          <p class="card-text">Cene</p>
        </div>
      </div>
    </div>
  </div>
</div>
