@import "variable";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body.disable-scroll {
  position: fixed;
  overflow: hidden;
}

a,
a:hover {
  text-decoration: none;
  color: $black-color;
}
/******************** COMMON ELEMENTS  *********************/

// Icons
.icon {
  background-repeat: no-repeat;
}
.icon.small {
  height: 10px;
  width: 10px;
  background-size: 10px;
}
.icon.medium {
  height: 15px;
  width: 15px;
  background-size: 15px;
}
.icon.large {
  height: 20px;
  width: 20px;
  background-size: 20px;
}
.facebook-white-icon {
  background-image: url("/assets/media/icons/facebook-white-icon.svg");
}
.instagram-white-icon {
  background-image: url("/assets/media/icons/instagram-white-icon.svg");
}
.facebook-black-icon {
  background-image: url("/assets/media/icons/facebook-black-icon.svg");
}
.instagram-black-icon {
  background-image: url("/assets/media/icons/instagram-black-icon.svg");
}
.circle-icon-white {
  background-image: url("/assets/media/icons/circle-icon-white.svg");
}
.icon.arrow {
  background-image: url("/assets/media/icons/nav-arrow.svg");
}
.icon.nav-toggle {
  background-image: url("/assets/media/icons/nav-toggle.svg");
}
// Images
.slider-image1 {
  background-image: url("/assets/media/images/img1.jpg");
}
.slider-image2 {
  background-image: url("/assets/media/images/img2.jpg");
}
.slider-image3 {
  background-image: url("/assets/media/images/img3.jpg");
}
.slider-image4 {
  background-image: url("/assets/media/images/img4.jpg");
}
// Buttons
// Inputs
// Dropdowns

// Accordion
accordion-group:focus,
accordion-group *:focus {
  outline: none;
}

.navbar-wrapper {
  .panel {
    border: none;
    border-bottom: 1px solid $gray-color;
  }
  .panel-heading.card-header {
    padding: 0 1rem;
    background-color: $white-color;
    border: none;
  }
  .panel-body {
    padding: 0 1rem;
  }
}

/***********************************************************/

.page-wrapper {
  min-height: calc(100vh - #{$navbar-height});
  position: relative;
  .page {
    padding-top: $navbar-height;
  }
  .page.home {
    padding-top: 0;
  }
}

// Notification (snackbar)
.mat-snack-bar-container {
  color: $white-color;
  .mat-simple-snackbar-action {
    color: $white-color;
  }
  &.error {
    background-color: $error-color;
  }
  &.warning {
    background-color: $warning-color;
  }
  &.success {
    background-color: $success-color;
  }
}
