@import "./variable.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
/******************** COMMON ELEMENTS  *********************/

// Icons
.icon { background-repeat: no-repeat; }
.icon.small {
  height: 10px;
  width: 10px;
  background-size: 10px;
}
.icon.medium {
  height: 15px;
  width: 15px;
  background-size: 15px;
}
.icon.large {
  height: 20px;
  width: 20px;
  background-size: 20px;
}
.facebook-white-icon { background-image: url("../../assets/media/icons/facebook-white-icon.svg"); }
.instagram-white-icon { background-image: url("../../assets/media/icons/instagram-white-icon.svg"); }
.facebook-black-icon { background-image: url("../../assets/media/icons/facebook-black-icon.svg"); }
.instagram-black-icon { background-image: url("../../assets/media/icons/instagram-black-icon.svg"); }
// Images
// Buttons
// Inputs
// Dropdowns

/***********************************************************/

.page-wrapper {
  min-height: calc(100vh - #{$header-height});
  position: relative;
}

// Notification (snackbar)
.mat-snack-bar-container {
  color: $white-color;
  .mat-simple-snackbar-action {
    color: $white-color;
  }
  &.error {
    background-color: $error-color;
  }
  &.warning {
    background-color: $warning-color;
  }
  &.success {
    background-color: $success-color;
  }
}

.nav-menu {
  min-width: 100%;
  font-size: 1rem;
  border:none;
  border-radius: 0;
}
.header-nav-btn {
  width: 10rem;
}
.dropdown-item { text-transform: uppercase; }
.header-nav-btn .text{
  width: 10rem;
  font-size: 1rem;
  outline: none;
  font-family:"ITC Avant Garde Gothic", sans-serif;
  text-transform: uppercase;
}
.header-nav-btn:focus,
.header-nav-btn:hover {
  box-shadow: none;
  color: rgb(231 169 146);
}
.nav-pading {
  padding:0 4rem;
  background-color: transparent;
}
.nav-pading:hover {

}
.dropdown-item:focus,
.dropdown-item:hover {
  color: rgb(231 169 146);
  background-color: white;
}
.dropdown-item.active, .dropdown-item:active {
  background-color: white;
}
//     color: rgb(231 169 146);
